.btn--border-blue {
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #18A0FB;
  color: #18A0FB;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
}