.buttons-big {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 10%;
  justify-content: flex-start;
}

.buttons__h1 {
  font-family: inter;
  font-weight: 600;
  font-size: 25px;
  line-height: 30 px;
  margin-left: 5%;
}

.buttons-big__download-btn {
  display: flex;
  flex-direction: row;
}

.download-btn__column {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  align-items: flex-end;
}

.download-btn {
  width: 144px;
  height: 46px;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20%;
  padding: 0;
  border-radius: 5px;
}

.svg-download {
  margin-left: 8%;
  margin-right: 8%;
}

.btn--grey {
  background: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  border: none;
  color: #878787;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
}

.btn--border-blue {
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #18A0FB;
  color: #18A0FB;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
}

.buttons__differents-btn {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.icon-btn {
  width: 56px;
  height: 48px;
  margin: 0;
  border: none;
  border-radius: 5px 0 0 5px;
  margin-bottom: 8%;
}

.tabs-btn {
  width: 134px;
  height: 46px;
  color: black;
  background: white;
  border: none;
  border-radius: 5px 0 0 5px;
}

.size-btn {
  width: 106px;
  height: 46px;
  border: none;
  background: white;
  margin-top: 8%;
  border-radius: 5px 0 0 5px;
}

.btn--opacity {
  border: 1px solid #E0E0E0;
  background: white;
  margin-left: -3%;
  border-radius: 0px 5px 5px 0px;
}

.btn--blue {
  background: #18A0FB;
  color: white;
  border: none;
}

.buttons-small {
  display: flex;
  flex-direction: row;
}

.buttons-small__download-btn {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.btn--small-size {
  width: 111px;
  height: 36px;
  font-size: 13px;
}

.btn--small {
  width: 116px;
  height: 36px;
  font-size: 13px;
}

.btn--red {
  background: #FF3E1D;
  color: white;
  border: none;
  font-size: 13px;
}

.tabs-btn--small {
  width: 86px;
  height: 36px;
}

.differents-btn__search-btn {
  margin-top: 12%;
}

.btn-search-small {
  width: 48px;
  height: 36px;
}

.size-btn--small {
  width: 58px;
  height: 36px;
}

.buttons-search {
  margin-left: 10%;
}

.btn-search {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.btn-search--green {
  background: #00D200;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.buttons-tag {
  margin-left: 8%;
}

.buttons-tag__btn {
  width: 65px;
  height: 28px;
  border-radius: 5px;
}

.buttons-tag__btn-small {
  width: 51px;
  height: 28px;
  border-radius: 5px;
  margin-top: 1%;
}